name: Build Boundaries Only
on:
  workflow_dispatch:

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Compile boundary files
        run: node compiler.js

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: TRACONBoundaries
          path: TRACONBoundaries.geojson
          if-no-files-found: error
